.header
  height: 2rem
  min-width: 100%
  background:#262f58
  padding-top: 1rem
  padding-bottom: 1rem
  align-items: center
  display: flex
  justify-content: space-between
  // flex-direction: row
  &__logo
    display: block
    font-size: 1.6rem
    line-height: 1.9rem
    text-transform: uppercase 
    color: #ffff
    text-decoration: none
    margin-left: 3rem
    &:hover
      color:#61A568
.block-cart
  // position: relative
  width: 4rem
  height: 2.5rem
  margin-right: 3rem
  background: white
  border-radius: 10%
  &__item
    margin-top: .2rem
  &__span
    margin-left: 0.3rem
    position: absolute
    margin-top: 0.5rem
    font-size: 1.1
    color: blue
    font-weight: 600
    